@use '../../styles/variables' as *;

.error-display {
  margin: 0 auto;
  max-width: 500px;
  padding: 40px 20px;
  text-align: center;

  &__title {
    color: $color-danger;
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__message {
    color: #666;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  &__button {
    margin-top: 16px;
  }
}
