@use '../../styles/variables' as *;

.ui-input {
  background: white;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 0.375rem;
  font-family: $font-family;
  outline: none;
  padding: $space-md $space-lg;
  transition:
    box-shadow 0.12s ease,
    transform 0.08s ease;
}

.ui-input:focus {
  border-color: $color-primary;
  box-shadow: 0 0 0 0.25rem rgb(0 103 255 / 6%);
}

.ui-input--small {
  font-size: 0.875rem;
  padding: $space-xs $space-sm;
}

.ui-input--medium {
  font-size: 1rem;
  padding: $space-md $space-lg;
}

.ui-input--large {
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
}

.ui-input--disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.ui-input--primary {
  color: $color-primary;
  background: $color-off-white;
}

.ui-input--secondary {
  border-color: $color-gray;
}
