@use '@styles/variables' as *;

.ui-tabs {
  color: $color-dark;
  font-family: $font-family;

  &__nav {
    border-bottom: 1px solid $color-light-gray;
    display: flex;
    gap: $space-sm;
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
  }

  &__tab {
    background: transparent;
    border: none;
    border-radius: 0.3125rem;
    color: $color-gray;
    cursor: pointer;
    font-weight: $font-weight-medium;
    padding: 0.5rem 0.75rem;
  }

  &__tab--active {
    border-bottom: 2px solid $color-primary;
    color: $color-dark;
  }

  &__tab--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__panel {
    padding: 0.5rem 0;
  }

  &--small {
    &__tab {
      font-size: 0.875rem;
    }
  }

  &--medium {
    &__tab {
      font-size: 1rem;
    }
  }

  &--large {
    &__tab {
      font-size: 1.125rem;
    }
  }
}
