@use '@styles/variables' as *;

.ui-select {
  background: white;
  border: 1px solid rgba($color-dark, 0.12);
  border-radius: 0.375rem;
  font-family: $font-family;
  outline: none;
  padding: $space-md 2.25rem $space-md $space-lg;
  transition:
    box-shadow 0.12s ease,
    transform 0.08s ease;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 0.25rem rgba($color-primary, 0.06);
  }

  &--small {
    font-size: 0.875rem;
    padding: $space-xs 1.75rem;
  }

  &--medium {
    font-size: 1rem;
    padding: $space-md 2.25rem $space-md $space-lg;
  }

  &--large {
    font-size: 1.125rem;
    padding: 0.75rem 1.5rem;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--primary {
    background: $color-primary;
    color: $color-off-white;
  }

  &--secondary {
    border-color: $color-gray;
  }
}
