@use '../../styles/variables' as *;

.post-widget {
  .post-comments__controls {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }

  .post-comment {
    border-bottom: 1px solid $color-off-white;
    padding: 8px;

    &__name {
      font-weight: 600;
    }

    &__actions {
      margin-top: 6px;
    }
  }

  .comment-editor {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__actions {
      display: flex;
      gap: 8px;
    }
  }

  &__empty-comments {
    color: $color-primary;
    font-style: italic;
    padding: 12px 8px;
  }
}
